.container {
    width: 100vw;
    padding: var(--main-content-padding);
    text-align: center;
}

.content{
    display: grid; 
    grid-template-columns: 1fr;
    padding: 2rem; 
    gap: 2rem;
}

.yellow {
    background-color: var(--bg-primary);
}

.white {
    background-color: var(--bg-light);
}

@media screen and (min-width: 940px) {
    .content{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}