header {
    position: sticky;
    z-index: 1;
    top: 0;
    opacity: 0.9;
    height: 10vh;
}

nav {
    padding: 0 1.5rem 0 1rem;
}

.logo {
    height: 3rem;
    width: auto;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.navbar-container-btn {
    display: flex;
    text-align: center;
    justify-content: flex-end;
    gap: 0.4rem;
    padding: 1.2rem 0 1rem 0;
}

nav ul {
    list-style: none;
}

nav ul li.toggle {
    order: 1;
}

nav ul li.menu-item {
    display: none;
    width: 100%;
    text-align: center;
    order: 2;
    background-color: black;
    opacity: 0.9;
}

nav ul li a {
    display: flex;
    justify-content: flex-end;
    padding: 0.4rem 0.5rem;
    color: var(--secondary-color);
    text-decoration: none;
}

nav ul li a:hover {
    color: var(--primary-color);
}

nav ul:has(li .menu-btn:checked) .menu-item {
    display: block;
}

/* Draw the hamburger menu */
nav ul li .menu-btn {
    display: none;
}

nav ul li .menu-icon {
    padding: 28px 20px;
    cursor: pointer;
}

nav ul li .menu-icon .nav-icon {
    background-color: var(--secondary-color);
    display: block;
    height: 0.1rem;
    width: 1rem;
    position: relative;
    transition: background-color 0.2s ease-out;
}

nav ul li .menu-icon .nav-icon:before,
nav ul li .menu-icon .nav-icon:after {
    background-color: var(--secondary-color);
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
}

nav ul .menu-icon .nav-icon:before {
    top: -0.25rem;
}

nav ul li .menu-icon .nav-icon:after {
    top: 0.25rem;
}

/* Animate the hamburger menu */
nav ul li .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
}

nav ul li .menu-btn:checked ~ .menu-icon .nav-icon::before {
    transform: rotate(-45deg);
    top: 0;
}

nav ul li .menu-btn:checked ~ .menu-icon .nav-icon::after {
    transform: rotate(45deg);
    top: 0;
}

@media screen and (min-width: 412px) and (max-width: 940px) {

    nav ul li .menu-icon .nav-icon {
        height: 0.2rem;
        width: 2.2rem;
    }

    nav ul .menu-icon .nav-icon:before {
        top: -0.65rem;
    }
    
    nav ul li .menu-icon .nav-icon:after {
        top: 0.65rem;
    }

    .logo {
        height: 6rem;
        width: auto;
    }

    .navbar-container {
        padding: 0 1rem;
    }

    nav ul li a {
        justify-content: center;
    }

    .navbar-container-btn {
        justify-content: center;
    }
}

@media screen and (min-width: 940px) {
    .navbar-container {
        padding: 0 2rem;
    }

    nav ul {
        flex-wrap: nowrap;
        justify-content: flex-start;
        font-size: 1.1rem;
    }

    nav ul li {
        background-color: transparent !important;
    }

    nav ul li.menu-item {
        display: block;
        width: auto;
        background-color: none;
    }

    nav ul li.toggle {
        display: none;
    }

    nav ul li.logo {
        margin-right: 2rem;
    }

    nav ul li.menu-item:nth-last-child(1) {
        margin-left: auto;
        justify-content: flex-end;
    }
}
