@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600;700&family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --primary-color: #fbc02d;
    --primary-color-shade: #daa728;
    --secondary-color: #d6336c;
    --text-color-light: #ffffff;
    --text-color-dark: #3e2723;
    --text-color-brown: #3e2723d9;

    --bg-primary: rgba(255, 236, 153, 1);
    --bg-dark: #3e2723;
    --bg-light: #fafafa;

    --main-content-padding: 4rem 0.7rem;

    --title-size: 1.4rem;
    --text-size: 0.8rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
}

body {
    font-family: "Poppins", sans-serif;
    line-height: 1.6;
}

p {
    font-size: var(--text-size);
}

h1,
h2,
h3,
h4 {
    font-weight: 400;
}

@media screen and (min-width: 412px) and (max-width: 940px) {
    :root {
        --main-content-padding: 7rem 2rem 1.8rem 2rem;
    }
}

@media screen and (min-width: 940px) {
    :root {
        --main-content-padding: 7rem 2rem 2.4rem 2rem;
    }
}
