.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -1.5rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    font-size: 1.2rem;
    text-decoration: none;
}

.btn-primary-color {
    color: var(--text-color-light);
    background-color: var(--primary-color);
    font-weight: 700;
}
.btn-primary-color:hover {
    color: var(--text-color-light);
    background-color: var(--primary-color-shade);
}

.btn-secondary-color {
    background-color: var(--secondary-color);
    color: var(--primary-text-color);
    font-weight: 700;
}

.btn-secondary-color:hover {
    color: var(--primary-text-color);
    background-color: var(--secondary-light-color);
}

.btn-navbar {
    padding: 0.5rem 0.8rem;
    font-size: 0.8rem;
    border-radius: 1.5rem;
}

.small {
    font-size: 0.6rem;
    padding: 0.8rem 1rem;
}

@media screen and (min-width: 412px) and (max-width: 940px) {
    .btn {
        bottom: -2rem;
        width: 4rem;
        height: 4rem;
        font-size: 2rem;
    }
}

@media screen and (min-width: 940px) {
    .btn {
        bottom: -2.5rem;
        width: 5rem;
        height: 5rem;
        font-size: 2.5rem;
    }
}
