.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: var(--main-content-padding);
}

@media screen and (min-width: 940px) {
    /* .content {
        padding: 4rem 6rem;
    } */
}
