.card {
    border: 2px solid var(--bg-dark);
    border-radius: 1rem;
    padding: 1rem;
    color: var(--text-color-brown);
    max-width: 20rem;
}

.icon {
    color: var(--secondary-color);
}

.title {
    color: var(--text-color-dark);
}

.subTitles {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.subTitle {
    font-size: 1rem;
    background-color: var(--secondary-color);
    border-radius: 2rem;
    color: var(--text-color-light);
    padding: 0.2rem 0.5rem;
}

@media screen and (min-width: 940px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}
