/* Galaxy Fold */
.container {
    height: 90vh;
    padding: var(--main-content-padding);
}

.hero {
    width: 8rem;
    border-radius: 50%;
}

.highlights {
    height: 90%;
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 1rem;
    color: var(--bg-dark);
    padding: 15px;
    border: 2px solid var(--bg-dark);
    border-radius: 10px;
    flex: 1;
}

.highlights1 {
    flex-grow: 1;
}
.highlights2 {
    flex-grow: 0;
}

.name {
    font-size: 1rem;
}

.title {
    font-size: 1.2rem;
    color: var(--primary-color);
}

.secondary-title {
    font-size: 0.6rem;
}

.about {
    font-size: 0.6rem;
    color: var(--bg-dark);
    padding-top: 1.5rem;
}

/* Galaxy A51 */
@media screen and (min-width: 412px) and (max-width: 940px) {
    .hero {
        width: 15rem;
    }

    .highlights {
        height: 90%;
        display: flex;
        text-align: center;
        flex-direction: column;
        color: var(--bg-dark);
        padding: 25px;
        border: 3px solid var(--bg-dark);
    }

    .name {
        font-size: 1.85rem;
    }

    .title {
        font-size: 2.1rem;
        color: var(--primary-color);
    }

    .secondary-title {
        font-size: 1.2rem;
    }

    .about {
        font-size: 0.95rem;
        color: var(--bg-dark);
        padding-top: 1rem;
    }
}

@media screen and (min-width: 940px) {
    /* .container {
        height: 90vh;
        padding: var(--main-content-padding);
    } */

    .hero {
        width: 8rem;
        border-radius: 50%;
    }

    .highlights {
        height: 90%;
        display: flex;
        text-align: center;
        flex-direction: column;
        gap: 1rem;
        color: var(--bg-dark);
        padding: 15px;
        border: 0px;
        flex: 1;
    }

    .highlights1 {
        flex-grow: 1;
    }
    .highlights2 {
        flex-grow: 0;
    }

    .name {
        font-size: 0.85rem;
    }

    .title {
        font-size: 1rem;
        color: var(--primary-color);
    }

    .secondary-title {
        font-size: 0.5rem;
    }

    .about {
        font-size: 0.5rem;
        color: var(--bg-dark);
        padding-top: 1rem;
    }
}
