/* Galaxy Fold */
.container {
    height: 90vh;
    padding: var(--main-content-padding);
}

.hero {
    width: 8rem;
    border-radius: 50%;
}

.highlights {
    max-height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 1rem;
    color: var(--bg-dark);
    padding: 15px;
    border: 2px solid var(--bg-dark);
    border-radius: 10px;
    flex: 1;
    position: relative;
}

.highlights1 {
    flex-grow: 1;
}
.highlights2 {
    flex-grow: 0;
}

.name {
    font-size: 1rem;
}

.title {
    font-size: 1.2rem;
    color: var(--primary-color);
}

.secondary-title {
    font-size: 0.6rem;
}

.about {
    font-size: 0.6rem;
    color: var(--text-color-brown);
    padding: 1.5rem 1rem 2.5rem 1rem;
}

/* Galaxy A51 */
@media screen and (min-width: 412px) and (max-width: 940px) {
    .hero {
        width: 15rem;
    }

    .name {
        font-size: 1.85rem;
    }

    .title {
        font-size: 2rem;
    }

    .secondary-title {
        font-size: 1rem;
    }

    .about {
        font-size: var(--text-size);
    }
}

@media screen and (min-width: 940px) {
    .hero {
        width: 16rem;
    }

    .highlights {
        border: 0px;
    }

    .name {
        font-size: 1.85rem;
    }

    .title {
        font-size: 2rem;
    }

    .secondary-title {
        font-size: 1.5rem;
    }

    .about {
        font-size: var(--text-size);
    }
}
